.header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 293px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__links-container {
  margin-right: 20px; /* Расстояние между списком ссылок и логотипом */
}

.header__logo-container {
  margin-right: 20px; /* Расстояние между логотипом и адресом */
}

.header__address-container {
  margin-right: 20px; /* Расстояние после блока с адресом */
}

.header__links-list {
  display: flex;
  align-items: start;
  gap: 4px;
  margin-right: 22px;
  margin-left: 52px;
  list-style: circle;
}

.header__links-list-item {
  margin-right: 30px;
}
.header__links-list-item:first-child {
  list-style: none; /* Убираем маркер у первого элемента списка */
}

.header__links-list-item:first-child .header__link {
  text-decoration: none; /* Убираем подчеркивание у первой ссылки */
}

.header__links-list-item:last-child {
  margin-right: 0;
}

.header__link {
  color: #000;

  text-decoration: underline; /* Убираем подчеркивание у ссылок */
  white-space: nowrap;
}

.header__logo {
  display: block;
  width: 134px; /* Ширина логотипа */
  height: 104px; /* Высота логотипа */
  margin-left: 0px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}

.address {
  padding-right: 50px;
  padding-left: 193px;
  font-style: normal;
  line-height: 1.3;
}

.address a {
  font-style: normal;
  line-height: 1;
  text-decoration: underline;
}

.header__address_name {
  display: inline-block;
}

.cover {
  position: relative; /* Обязательно указываем позиционирование родительского элемента */
  width: 100%; /* Ширина секции */
  height: 757px; /* Высота секции */
  background-image: url(../images/cover.jpg); /* Добавляем фоновое изображение */
  background-repeat: no-repeat; /* Изображение не повторяется */
  background-position: center; /* Центрируем изображение */
  background-size: cover; /* Масштабируем изображение чтобы покрывало весь блок */
}

.cover-overlay {
  position: absolute; /* Позиционируем абсолютно относительно родительского элемента */
  top: 0;
  left: 0;
  z-index: 1; /* Устанавливаем z-index, чтобы слой был поверх изображения */
  width: 100%; /* Занимает всю ширину родительского элемента */
  height: 100%; /* Занимает всю высоту родительского элемента */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Цвет фона с полупрозрачностью (здесь 50%) */
}

.cover-heading {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.cover_ono_heading {
  align-self: flex-start;
  margin-top: 163px;
  margin-bottom: 0px;
  margin-left: 50px;
  letter-spacing: 30px;
}

.cover_left_margin_heading {
  display: inline-block;
  margin-left: 30px;
}
.cover_tebe_heading {
  align-self: center;
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: -30px;
  letter-spacing: 30px;
}

.cover_nado_heading {
  align-self: flex-end;
  margin-top: -10px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.cover_n_heading {
  display: inline-block;
  margin-right: 60px;
}

.cover_right_margin_heading {
  display: inline-block;
  margin-right: 30px;
}

.cover-subheading {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  z-index: 3;
  word-spacing: 19px;
  margin-top: 139px;
  margin-bottom: 20px;
  margin-left: 78px;
}

.cover-button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: normal;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  cursor: pointer;
  z-index: 3;
  margin-top: 0px;
  margin-left: 77px;
  padding: 12px 27px;
}
